Repository piyushgarg-dev/review-app-api, pull requests merged in 2023-10, with the labels that each got.

#5 docs: added README.md file
  README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#12 Revert "docs: Added the CONTRIBUTING.md file"
  CONTRIBUTING.md
Labels: hacktoberfest-accepted

#16 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#26 refactor: removed the support for slug from project and added support…
  functions/graphql/project/interfaces.ts
  functions/graphql/project/queries.ts
  functions/graphql/project/resolvers.ts
  functions/graphql/project/types.ts
  prisma/migrations/20231008073028_add_custom_subdomain_to_project/migration.sql
  prisma/schema.prisma
  services/project.ts
Labels: hacktoberfest, hacktoberfest-accepted

#17 feat: added submitFormResponse mutation
  functions/graphql/form/interfaces.ts
  functions/graphql/form/mutations.ts
  functions/graphql/form/queries.ts
  functions/graphql/form/resolver.ts
  functions/graphql/form/types.ts
  prisma/migrations/20231008135244_added_approve_tags_to_forms/migration.sql
  prisma/migrations/20231008144348_added_form_response_table/migration.sql
  prisma/schema.prisma
  services/form.ts
Labels: hacktoberfest, hacktoberfest-accepted

#43 feat: A new feature (Contributers added in readme)
  README.md
Labels: hacktoberfest-accepted

#47 docs: Update README.md
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#51 docs: Update and Improve README
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#65 fix: corrected wrong backend graphql path in README.md
  README.md
Labels: bug
